<% 
content_for :stylesheets, stylesheet_link_tag('refinery/refinerycms-contacts')
content_for :javascripts, javascript_include_tag('refinery/refinerycms-contacts')
%>

<div id="contact">
	<h2><%= contact_headline(@contact) %></h2>
	
	<%= render :partial => 'overview' %>

  <% unless @contact.notes.empty? %>
	 <h2><%= t('.notes') %></h2>
	
	  <% @contact.notes.each do |note| %>
		  <div class="note">
		  	<h4>
		  		<%= t("headline", :scope => 'admin.notes.index', :by => note.created_by.username, :on => l(note.created_at)) %>
		  	</h4>
			  <%= note.content%>
			</div>
		<% end %>
	<% end %>
	
	<span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_contact_path(@contact),
          :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_contact_path(@contact),
          :class => "cancel confirm-delete",
          :title => t('.delete'),
          :confirm => t('message', :scope => 'shared.admin.delete', :title => @contact.first_name),
          :method => :delete unless @contact.system? %>       
  </span>
	
</div>

<div id="extended_contact">
  <%= render :partial => 'sidebar' %>
</div>